@charset "UTF-8";

body {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(255, 255, 255);
        }
        h1 {
            border-radius: 10px;
            background-color: rgba(255, 228, 196, 0);
            color: rgb(0, 0, 0);
        }
        h2 {
            color: rgb(60, 60, 60);
        }
        p {
            color: rgb(86, 43, 43);
            text-align: justify;
        }